
<h2>User info</h2>
<span><h2>Books</h2></span>






<h2>New book</h2>
<%= form_with model: User.new do |f| %>

<% end %>

<%= form_with model: User.new do |f| %>

<h4>Title</h4>
  <%= f.text_field :title %>
	
  <h4>Opinion</h4>
  <%= f.text_area :body %>
	
  <%= f.submit 'create book' %>
  
<% end %>