<p id="notice"></p>

<div class="container">
<div class="row">

<%= render'users/info', user:@user,book:@newbook %>

<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>


<table class="table">
 <tbody>
        <tr>
          <td>
           <% if @user.image.attached? %>
           <%= image_tag @user.image,size:"100x100" %>
  
           <% else %>
           <%= image_tag 'no_image', size:"50x50" %>
           <% end %>
           <br><%= link_to @user.name, user_path(@user) %></br>
          </td>
          
          <td><%= link_to  @book.body, book_path(@book) %></td>
          <td><%= @book.title %></td>
          <td><%= link_to "Edit", edit_book_path(@book.id), class: "tn btn-sm btn-success" %></td>
          <td><%= link_to "Destroy", book_path(@book.id), class: "btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        </tr>
</tbody>
 </table>


</div>
</div>
</div>

<%= render'users/footer' %>